<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">mesopotamia1978DPWEB.TK</property>
  <property name="hibernate.connection.url">jdbc:mysql://piisw.tk:3306/piisw_blog1</property>
  <property name="hibernate.connection.username">piisw_aa</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="/hibernate.show_sql">true</property>
  <mapping resource="edu/ucam/modelos/Categorias.hbm.xml"/>
  <mapping resource="edu/ucam/modelos/Administradores.hbm.xml"/>
  <mapping resource="edu/ucam/modelos/Comentarios.hbm.xml"/>
  <mapping resource="edu/ucam/modelos/Post.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
